
.textButtonDiv {
    height: 8vh;
    width: 100vw;
}
.textButtonLeft {
    position: absolute;
    left: 0;
    height: 8vh;
    width: 8vh;
    font-size: 4vh;
}
.textButtonRight {
    position: absolute;
    right: 0;
    height: 8vh;
    width: 8vh;
    font-size: 4vh;
}
.textButtonLeftSmall {
    position: absolute;
    left: 0;
    height: 3.99vh;
    width: 8vh;
    font-size: 1.5vh;
}
.textButtonRightSmall {
    position: absolute;
    right: 0;
    height: 3.99vh;
    width: 8vh;
    font-size: 1.5vh;
}

.textButtonText {
    position:absolute;
    left: 8vh;
    right: 8vh;
    font-size: 4vh;
    width: 84vw;
    text-align: center;
}

.reservoirImg {
    margin-left:auto;
    margin-right:auto;
    width:70%;
    height:70%;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
  width: 100vw;
  margin:0;
}
.rootDiv {
  width: 100vw;
  position:sticky;
  margin:0;

}

.reservoirButton {
    width: 100vw;
    height: 8vh;
    font-size: 4vh;
    text-align: center;
}

.lowerButton {
    width:48vw;
    text-align: center;
    margin:0.5vw;
}

.mana_symbols {
    width: 100vw;
    object-fit:fill;
}

.wubrg_button_div {
    z-index:20;
    position:absolute;
}
.wubrg_text_div {
    position:absolute;
    height:18vw;
}

.wubrg_button_top {
    z-index:100;
    width: 100%;
    height: 50%;
    opacity: 0;
    border: 0;
    padding: 0;
    margin:0;
    position:absolute;
    transform:translate(-100%,0);
}
.wubrg_button_bottom {
    z-index:100;
    width: 100%;
    height: 50%;
    opacity: 0;
    border: 0;
    padding: 0;
    margin:0;
    position:absolute;
    transform:translate(-100%,100%);
}
.wubrg_single_div {
    display:table-cell;
    width: 33%;
    height: 33%;
    padding:0;
    position:relative;

}
.mana_symbol_single {
    width:100%;
}

.wubrg_table {
    width: 100%;
    display: table;
}

.wubrg_row {
    display: table-row;
}

.wubrg_text {
    font-weight: bold;
    position:absolute;
    top: 40%;
    width: 100%;
    border: 0;
    padding: 0;
    color:white;
    font-size:4vh;
    text-align:center;
    transform:translate(-100%,0);
    pointer-events:none;
}
.trackTypeButton {
    width:100%;
}
.aetherflux_text {
    font-weight: bold;
    position:absolute;
    top: 40%;
    width: 100%;
    border: 0;
    padding: 0;
    color:black;
    font-size:4vh;
    text-align:center;
    pointer-events:none;
}
.wubrg_text_u {
    font-weight: bold;
    position:absolute;
    top: 40%;
    left: 28vw;
    width: 19vw;
    height: 10vh;
    border: 0;
    padding: 0;
    color:white;
    font-size:4vw;
}
.wubrg_text_b {
    font-weight: bold;
    position:absolute;
    top: 40%;
    left: 49vw;
    width: 19vw;
    height: 10vh;
    border: 0;
    padding: 0;
    color:white;
    font-size:4vw;
}
.wubrg_text_r {
    font-weight: bold;
    position:absolute;
    top: 40%;
    left: 70vw;
    width: 19vw;
    height: 10vh;
    border: 0;
    padding: 0;
    color:white;
    font-size:4vw;
}
.wubrg_text_g {
    font-weight: bold;
    position:absolute;
    top: 40%;
    left: 91vw;
    width: 19vw;
    height: 10vh;
    border: 0;
    padding: 0;
    color:white;
    font-size:4vw;
}